.about {
  background: $content--main--bgr;
  color: $content--main--txt;
  &__container {
    padding: 0 250px;
  }
  &__break {
    @include star-breaker($content--main--txt, $content--main--bgr)
  }
  &__content {
    font-size: 20px;
    text-align: left;
  }
  &__btn {
    @include button($content--main--txt, $content--main--bgr, $content--sec--txt);
    margin: 20px 0 70px 0;
    & span {
      position: relative;
      &:before {
        @include awesomeIcon();
        content: '\f019';
        display: inline;
        margin-right: 10px;
      }
    }
  }
}

@media (max-width: 1250px) {
  .about {
    &__container {
      padding: 0 100px;
    }
  }
}

@media (max-width: 960px) {
  .about {
    &__container {
      padding: 0 50px;
    }
    &__btn {
      margin-bottom: 35px;
    }
  }
}

@media (max-width: 780px) {
  .about {
    &__container {
      padding: 0 20px;
    }
    &__content {
      text-align: center;
    }
  }
}
