.contact {
  background: $content--sec--bgr;
  color: $content--sec--txt;
  &__container {
    padding: 0 250px;
  }
  &__break {
    @include star-breaker($content--sec--txt, $content--sec--bgr);
  }
}

@media (max-width: 960px) {
  .contact {
    &__container {
      padding: 0 100px;
    }
  }
}

@media (max-width: 780px) {
  .contact {
    &__container {
      padding: 0 20px;
    }
  }
}