.header {
  background: $header--bgr;
  &__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  &__logo {
    font-size: 30px;
    text-transform: uppercase;
    margin: 30px 40px;
  }
  &__link:link,
  &__link:visited {
    color: $header--txt;
  }

}