.main {
  padding-top: 100px;
  background: $content--main--bgr;
  &__container {
    padding: 90px 0;
    color: $content--main--txt;
  }
  &__img {
    margin: 0 auto;
  }
  &__title {
    text-transform: uppercase;
    font-size: 64px;
    margin-top: 24px;
  }
  &__break {
    @include star-breaker($content--main--txt, $content--main--bgr);
  }
  &__sub-title {
    font-size: 30px;
    font-weight: normal;
  }
}