// colors
$header--bgr: #2D3E50;
$header--txt: #FFF;
$content--main--bgr: #18BC9C;
$content--main--txt: #FFF;
$content--sec--bgr: #FFF;
$content--sec--txt: #2F3E4A;
$footer--main--bgr: #2D3E50;
$footer--main--txt: #FFF;
$footer--main--link: #18BC9C;
$footer--sec--bgr: #1B2530;
$footer--sec--txt: #FFF;

//fonts
$title--font: 'Montserrat', sans-serif;
$content--font: 'Lato', sans-serif;


